{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Date visits list{% endblock %}

{% block content %}
  <form method="get">
    {{ filter_form.as_p }}
    <input type="submit"/>
  </form>
  {% for boarding_record in boarding_data %}
    <div>
      <a
        href="{% url 'dogs:boarding-day' year=boarding_record.date.year month=boarding_record.date.month day=boarding_record.date.day %}">
        {{ boarding_record.date }} - {{ boarding_record.dogs_count }}
      </a>
    </div>
  {% endfor %}
{% endblock %}
